body{
    background-color: #F490FB;
    display: block;
}

.box{
    width: 50%;
    height: 70%;
    background-color: #685D68;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 
        -18vmin 11vmin 0 -16.5vmin #685D68,
        18vmin 11vmin 0 -16.5vmin #685D68;
}


.box2{
    width: 80%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.box3{
    width: 70%;
    height: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: auto;
    margin-left: -150px;
}

.circle2{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: auto;
    margin-left: 150px;
}

.square{
    width: 150px;
    height: 90px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insideCircle{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #685D68;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insideCircle2{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #685D68;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow{
    height: 0;
    width: 500px;
    border-bottom: 150px solid #272427;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 0.7s infinite;
}


